<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome to bookstore!</title>
    </head>
    <body>
        <h1 align ="center" style="color: aquamarine;" >Welcome to bookstore！</h1>
        <form action="http:localhost:8080/http " method="POST">
        <p align = "center" style="color: cyan;" >用户名：<input type="text" name="username" /></p><br>
        <p align = "center" style="color: aqua;">密码：<input type="password" name="password" "/></p><br>
        <p align = "center" style="color: brown;"><input type="submit"/></p>
        <p align = "center"><a href="http://localhost:8080/register" >没有账号？点击注册</a></p>
        
        </form> 

    </body>
</html>